$ORIGIN ${CLUSTER_NAME}.${CLUSTER_DOMAIN}.
$TTL 300                                   ; 5 minutes
@       3600 IN SOA dns1.${CLUSTER_DOMAIN}. hostmaster.${CLUSTER_DOMAIN}. (
                                2019010101 ; serial
                                21600      ; refresh (6 hours)
                                3600       ; retry (1 hour)
                                604800     ; expire (1 week)
                                86400      ; minimum TTL (1 hour)
                                )
;
api                                      A ${API_VIP}
ns1                                      A ${DNS_VIP}
$ORIGIN apps.${CLUSTER_NAME}.${CLUSTER_DOMAIN}.
*                                        A ${INGRESS_VIP}
$ORIGIN ${CLUSTER_NAME}.${CLUSTER_DOMAIN}.
provisioner                                       A 10.0.1.126 
${CLUSTER_NAME}-master-0                          A 10.0.1.127
${CLUSTER_NAME}-master-1                          A 10.0.1.128
${CLUSTER_NAME}-master-2                          A 10.0.1.129
${CLUSTER_NAME}-worker-0                          A 10.0.1.130
${CLUSTER_NAME}-worker-1                          A 10.0.1.131
${CLUSTER_NAME}-worker-2                          A 10.0.1.132

