${PROV_MAC},10.0.1.126,provisioner.${CLUSTER_NAME}.${CLUSTER_DOMAIN}
${MASTER_0_MAC},10.0.1.127,${CLUSTER_NAME}-master-0.${CLUSTER_NAME}.${CLUSTER_DOMAIN}
${MASTER_1_MAC},10.0.1.128,${CLUSTER_NAME}-master-1.${CLUSTER_NAME}.${CLUSTER_DOMAIN}
${MASTER_2_MAC},10.0.1.129,${CLUSTER_NAME}-master-2.${CLUSTER_NAME}.${CLUSTER_DOMAIN}
${WORKER_0_MAC},10.0.1.130,${CLUSTER_NAME}-worker-0.${CLUSTER_NAME}.${CLUSTER_DOMAIN}
${WORKER_1_MAC},10.0.1.131,${CLUSTER_NAME}-worker-1.${CLUSTER_NAME}.${CLUSTER_DOMAIN}
